<div class="login-container">
    <div class="titleContainer">
        <h2>TuComercio</h2>
    </div>
    <div class="login-box">
        <form>
            <div class="form-group">
                <img  src="assets/icons/correo.png" alt="correo">
                <input 
                    type="text"
                    id="email"
                    name="email"
                    required
                    placeholder="Ingrese su correo"
                    />
            </div>
            <div class="form-group">
                <img  src="assets/icons/encerrar.png" alt="correo">
                <input 
                    type="text"
                    id="password"
                    name="password"
                    required
                    placeholder="ingresa tu contraseña"
                    />
            </div>
            <button type="submit" class="btn">Iniciar Sesión</button>
        </form>
        <p class="register-link">
            ¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a>
        </p>
        <p class="register-link">
            Continuar sin una cuenta <a routerLink="/home">Click aquí</a>
        </p>
    </div>
</div>