/* You can add global styles to this file, and also import other style files */

:root {
    --primary-bg: #212121;
    --secondary-bg: #383B42;
    --primary-text: #ffffff;
    --secondary-text: #e0e0e0;
    --primary-accent: #bb86fc;
    --secondary-accent: #0ac6ffa5;
    --error: #cf6679;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
	background: linear-gradient(180deg, #212121, #383B42); /* Fondo degradado */
	background-attachment: fixed; /* Fijo al desplazarse */
	background-repeat: no-repeat;
	background-size: cover;
	color: #f9fafb; /* Texto claro */
	font-family: 'Arial', sans-serif; /* Fuente global */
}
body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: radial-gradient(circle, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.2) 100%);
	mix-blend-mode: overlay;
  }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}